<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <link href="https://rawgithub.com/hayageek/jquery-upload-file/master/css/uploadfile.css" rel="stylesheet" />
    <script src="https://rawgithub.com/hayageek/jquery-upload-file/master/js/jquery.uploadfile.min.js"></script>
    <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/thumbnail-gallery.css}" rel="stylesheet" />
    <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <script>
        var template = '<div class="col-lg-3 col-md-4 col-xs-6 thumb">' +
                '<a class="thumbnail img-wrap" href="#">' +
                '<span class="close" onclick="deleteFile(\'${name}\')">&times;</span>' +
                '<div style="text-align: center" >' +
                '<img class="img-responsive" src="${path}" alt="" />'+
                '<span>${name}</span>' +
                '</div>' +
                '</a>'+
                '</div>';

    </script>
    <script th:inline="javascript">


        $(document).ready(function() {
            $("#fileuploader").uploadFile({
                dragdropWidth: "100%",
                allowedTypes: "jpg,png,gif,jpeg",
                url: [[${host}]],
                fileName:"file",
                onSuccess:function(files,data,xhr,pd) {
                    var repl = template.replaceAll("${name}", "" + files[0] + "");
                    repl = repl.replace("${path}", [[${host}]] +"/files/" + files[0]);
                    $(".row").prepend(repl)
                }
            });
        });
        function deleteFile(name){
            location.href = "/delete?filename=" + name;
        }
        String.prototype.replaceAll = function(org, dest) {
            return this.split(org).join(dest);
        }

    </script>
    <style>
        .img-wrap {
            position: relative;
        }
        .img-wrap .close {
            position: absolute;
            top: 2px;
            right: 2px;
            z-index: 100;
        }
    </style>
</head>
<body>
<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>
<div id="fileuploader">Upload</div>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-xs-6 thumb" th:each="file : ${files}">
            <a class="thumbnail img-wrap" href="#">
                <span class="close" th:onclick="'deleteFile(\'' + ${file.name} + '\');'">&times;</span>
                <div style="text-align: center" >
                    <img class="img-responsive" th:src="${file.path}" alt="" />
                    <span th:text="${file.name}"></span>
                </div>
            </a>
        </div>
    </div>
</body>
</html>