<html xmlns:th="http://www.thymeleaf.org">
<head>

    <script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <link href="https://rawgithub.com/hayageek/jquery-upload-file/master/css/uploadfile.css" rel="stylesheet" />
    <script src="https://rawgithub.com/hayageek/jquery-upload-file/master/js/jquery.uploadfile.min.js"></script>
    <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/thumbnail-gallery.css}" rel="stylesheet" />
    <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <script th:inline="javascript">
        $(document).ready(function() {
            $("#fileuploader").uploadFile({
                dragdropWidth: "100%",
                url: [[${host}]],
//                url:"http://localhost:8888",
                fileName:"file"
            });
        });

        function deleteFile(name){
            location.href = "/delete?filename=" + name;
        }
    </script>
    <style>
        .img-wrap {
            position: relative;
        }
        .img-wrap .close {
            position: absolute;
            top: 2px;
            right: 2px;
            z-index: 100;
        }
    </style>
</head>
<body>
<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>
<div id="fileuploader">Upload</div>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-xs-6 thumb" th:each="file : ${files}">
            <a class="thumbnail img-wrap" href="#">
                <span class="close" th:onclick="'deleteFile(\'' + ${file.name} + '\');'">&times;</span>
                <img class="img-responsive" th:src="${file.path}" alt="" />
            </a>
        </div>
    </div>
</body>
</html>